[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
astroid = "*"
pylint = "*"
lazy-object-proxy = "*"
mccabe = "*"
livereload = "*"
tornado = "*"
typed-ast = "*"
wrapt = "*"
isort = "*"
typogrify = "*"
smartypants = "*"
doc8 = "*"

[packages]
beautifulsoup4 = "*"
blinker = "*"
cffi = "*"
colorama = "*"
docutils = "*"
feedgenerator = "*"
gitdb2 = "*"
gitpython = "*"
invoke = "*"
jinja2 = "*"
pelican = "*"
pelican-extended-sitemap = "*"
pep562 = "*"
pycparser = "*"
pygments = "*"
pymdown-extensions = "*"
python-dateutil = "*"
pytz = "*"
six = "*"
smmap2 = "*"
soupsieve = "*"
Babel = "*"
Markdown = "*"
MarkupSafe = "*"
Unidecode = "*"

[requires]
python_version = "3.7"
