{% extends "base.html" %}

{% block title %} &ndash; {{ page.title }}{% endblock %}

{% block content %}
<article class="single">
  <header>
    {% import 'partial/translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    <h1 id="{{ page.slug }}">{{ page.title }}</h1>
  </header>
  <div>
    {% block before_content %}{% endblock %}
    {% block page_content %}
    {% if page.slug == 'search' %}
      {% include "partial/cse.html" %}
    {% else %}
      {{ page.content }}
    {% endif %}
    {% endblock %}
    {% block after_content %}
    {% if DISQUS_SITENAME %}
      {% if DISQUS_IN_PAGES %}
        {% if page.status != 'hidden' %}
          {% include "partial/disqus.html" %}
        {% endif %}
      {% endif %}
    {% endif %}
    {% endblock %}
  </div>
</article>
{% endblock %}
